<div id="profile-view">
  <div class="main-container">
    <div class="profile-panel">
      <h2>Profile</h2>
      <hr>
      <div class="profile-row">
        <span>First name:</span><p>Stephen</p>
      </div>
      <div class="profile-row">
        <span>Last name:</span><p>Wright</p>
      </div>
      <div class="profile-row">
        <span>Email:</span><p>stephen@productiv.com</p>
      </div>
      <div class="profile-row">
        <span>Password:</span><p>*******</p>
      </div>
    </div>
  </div>
</div>
