@import '../../sass/_variables';

.main-container {
  width: 100%
}

.login-container {
  align-items: center;
  background: #222;
  background-image: url('/assets/images/background.png');
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -52px;
  min-height: calc(100vh);
  padding: 0 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-label {
  color: white;
  @media(min-width: 768px) {
    font-size: 1.2em;
  }
}

.login-input {
  background: none;
  color: white;
  border: 2px solid white;
  font-size: 1.2em;
  margin: 8px 0 15px;
  padding: 10px 10px;
  transition: 0.3s ease all;
  @media(min-width: 768px) {
    font-size: 1.4em;
  }
}

.login-input:focus {
  border: 2px solid $primary-red;
}

.login-submit {
  background: $primary-red;
  border: 1px solid $primary-red;
  border-bottom: 3px solid darken($primary-red, 20%);
  border-right: 3px solid darken($primary-red, 30%);
  font-size: 1.2em;
  margin-top: 5px;
  padding: 10px;
  text-transform: uppercase;
  @media(min-width: 768px) {
    font-size: 1.4em;
  }
}
