<div class="main-container">
  <div class="navbar-toggle-container">
    <i class="fa fa-bars" (click)="menuVisibilityToggle()"></i>
  </div>
  <div class="navbar" (window:resize)="menuVisibilityOnResize()" *ngIf="menu">
    <ul class="top-level-menu" [ngStyle]="menuVisibilityStyling()" *ngFor="let topLevelMenu of menu; let i = index">
      <li class="top-level-item">
        <div class="top-level-item-content" [routerLink]="topLevelMenu.route" (click)="submenuVisibilityToggle(i)">
          <i class="fa" [ngClass]="topLevelMenu.icon"></i>
          <p class="menu-item-header">{{topLevelMenu.title}}</p>
          <i class="fa fa-caret-down" *ngIf="topLevelMenu.hasSubmenu"></i>
        </div>
        <ul class="second-level-menu" *ngIf="topLevelMenu.hasSubmenu" [ngStyle]="submenuVisibilityStyling(i)">
          <li class="second-level-item" [routerLink]="secondLevelMenu.route" *ngFor="let secondLevelMenu of topLevelMenu.submenu">
            <div class="second-level-item-content" >
              <i class="fa" [ngClass]="secondLevelMenu.icon"></i>
              <p class="menu-item-header">{{secondLevelMenu.title}}</p>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
