<div class="main-container">
  <div class="navbar-toggle-container">
    <i class="fa fa-bars" (click)="topLevelMenuVisibilityToggle()"></i>
  </div>
  <div class="navbar" (window:resize)="topLevelMenuVisibilityOnResize()" *ngIf="menu">
    <ul class="top-level-menu" [ngStyle]="topLevelMenuVisibilityStyling()">
      <li class="top-level-item" *ngFor="let topLevelMenu of menu; let i = index">
        <div class="top-level-item-content" [routerLink]="topLevelMenu.route" (click)="topLevelMenu.function; secondLevelMenuVisibilityToggle(i)">
          <i class="fa" [ngClass]="topLevelMenu.icon"></i>
          <p class="menu-item-header">{{topLevelMenu.title}}</p>
          <i class="fa fa-caret-down" *ngIf="topLevelMenu.hasSubmenu"></i>
        </div>
        <ul class="second-level-menu" *ngIf="topLevelMenu.hasSubmenu" [ngStyle]="secondLevelMenuVisibilityStyling(i)">
          <li class="second-level-item" [routerLink]="secondLevelMenu.route" *ngFor="let secondLevelMenu of topLevelMenu.submenu; let j = index">
            <div class="second-level-item-content" [routerLink]="secondLevelMenu.route" (click)="secondLevelMenu.function; thirdLevelMenuVisibilityToggle(j)">
              <i class="fa" [ngClass]="secondLevelMenu.icon"></i>
              <p class="menu-item-header">{{secondLevelMenu.title}}</p>
              <i class="fa fa-caret-down" *ngIf="secondLevelMenu.hasSubmenu"></i>
            </div>
            <ul class="third-level-menu" *ngIf="secondLevelMenu.hasSubmenu" [ngStyle]="thirdLevelMenuVisibilityStyling(j)">
              <li class="third-level-item" [routerLink]="thirdLevelMenu.route" *ngFor="let thirdLevelMenu of secondLevelMenu.submenu">
                <div class="third-level-item-content">
                  <i class="fa" [ngClass]="thirdLevelMenu.icon"></i>
                  <p class="menu-item-header">{{thirdLevelMenu.title}}</p>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="top-level-item">
        <div class="top-level-item-content" (click)="logout()">
          <i class="fa fa-power-off"></i>
          <p class="menu-item-header">Logout</p>
        </div>
      </li>
    </ul>
  </div>
</div>
