<div class="main-container">
  <div class="navbar">
    <ul class="top-level-menu">
      <li class="top-level-item">
        <div class="top-level-item-content">
          <i class="fa fa-user"></i>
          <p class="menu-item-header">Users</p>
          <i class="fa fa-caret-down"></i>
        </div>
      </li>
      <li class="top-level-item">
        <div class="top-level-item-content">
          <i class="fa fa-cogs"></i>
          <p class="menu-item-header">Users</p>
          <i class="fa fa-caret-down"></i>
        </div>
        <ul class="second-level-menu">
          <li class="second-level-item">
            <div class="second-level-item-content">
              <i class="fa fa-cog"></i>
              <p class="menu-item-header">Users</p>
            </div>
          </li>
          <li class="second-level-item">
            <div class="second-level-item-content">
              <i class="fa fa-cog"></i>
              <p class="menu-item-header">Users</p>
            </div>
          </li>
          <li class="second-level-item">
            <div class="second-level-item-content">
              <i class="fa fa-cog"></i>
              <p class="menu-item-header">Users</p>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
